$body-font-size: 1.6rem;

$text-color: #ffffff !default;
$dark: #1d1d1d;
$primary-teal: #0feffd;
$primary-white: #ffffff;

$button-transition: 0.5s ease-in-out;

$button-border-radius: 4rem;
$button-text-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.12);
$button-box-shadow: 0 1.6rem 1.6rem 0.4rem rgba(0, 0, 0, 0.12);

$primary-btn-background: #e10856;
$primary-btn-background-hover: #ba104d;

$breakpoints: (
  'xxl': 87.5rem,
  'xl': 75rem,
  'lg': 62rem,
  'md': 48rem,
  'sm': 36rem,
) !default;

$base-url: '/' !default;